@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');

$color-primary: #EC5863;
$color-secundary: #4285f4;
$font-color-black: #000;
$font-color-white: #fff;
$font-color-secundary: #616161;
$font-default: "Raleway", sans-serif;
$font-regular: 500;
$font-bold: 700;
$font-extrabold: 800;
$font-size-h1: 44px;
$font-size-p: 12px;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 90%;
	height: 40px;
	margin: 0 auto;
	header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 37px 0 0 0;
		.logoNav{
			display: flex;
			align-items: center;
			.logo{
				margin-right: 295px;
			}
		}
		.nav{
			margin-left: 30px;
			ul{
				display: flex;
				align-items: center;
				list-style: none;
				li{
					a{
						text-decoration: none;
						color: $font-color-black;
						margin-right: 40px;
						font-family: $font-default;
						font-weight: $font-bold;
						font-size: 13px;
						text-transform: uppercase;
					}
				}
			}
		}
		.buttonDownload{
			.buttonHeader{
				background-color: $color-secundary;
				color: $font-color-white;
				padding: 10px;
				width: 144px;
				height: 40px;
				border: none;
				outline: none;
				cursor: pointer;
				border-radius: 5px;
				font-family: $font-default;
				font-weight: $font-extrabold;
				font-size: 13px;
				text-transform: uppercase;
			}
		}
		.RectangleHero{
			background-color: $color-primary;
			height: 100vh;
			width: 350px;
			position: absolute;
			bottom: 0;
			right: 0;
			border-radius: 30px 0 0 30px;
			z-index: -1;
		}
	}
	.hero{
		width: 100%;
		height: 400px;
		margin-top: 75px;
		display: flex;
		align-items: center;
		.callToActionHero{
			h1{
				font-size: $font-size-h1;
				font-family: $font-default;
				font-weight: $font-extrabold;
				padding-right: 100px;
				line-height: 126%;
				margin-bottom: 12px;
				span{
					color: $color-secundary;
				}
			}
			p{
				color: $font-color-secundary;
				font-family: $font-default;
				padding-right: 200px;
				line-height: 138%;
				margin-bottom: 24px;
			}
			button{
				background-color: $color-primary;
				color: $font-color-white;
				padding: 10px;
				width: 144px;
				height: 40px;
				border: none;
				outline: none;
				cursor: pointer;
				border-radius: 5px;
				font-family: $font-default;
				font-weight: $font-extrabold;
				font-size: 13px;
				text-transform: uppercase;
			}
		}
	}
	.videoWatch{
		display: flex;
		align-items: center;
		.content{
			margin-left: 12px;
			p.firstP{
				color: $font-color-secundary;
				margin-bottom: 5px;
			}
			p.secontP{
				color: $font-color-black;
			}
		}
	}
}



