@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  height: 40px;
  margin: 0 auto;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 37px 0 0 0;
}

.container header .logoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .logoNav .logo {
  margin-right: 295px;
}

.container header .nav {
  margin-left: 30px;
}

.container header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.container header .nav ul li a {
  text-decoration: none;
  color: #000;
  margin-right: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.container header .buttonDownload .buttonHeader {
  background-color: #4285f4;
  color: #fff;
  padding: 10px;
  width: 144px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
}

.container header .RectangleHero {
  background-color: #EC5863;
  height: 100vh;
  width: 350px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 30px 0 0 30px;
  z-index: -1;
}

.container .hero {
  width: 100%;
  height: 400px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .hero .callToActionHero h1 {
  font-size: 44px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  padding-right: 100px;
  line-height: 126%;
  margin-bottom: 12px;
}

.container .hero .callToActionHero h1 span {
  color: #4285f4;
}

.container .hero .callToActionHero p {
  color: #616161;
  font-family: "Raleway", sans-serif;
  padding-right: 200px;
  line-height: 138%;
  margin-bottom: 24px;
}

.container .hero .callToActionHero button {
  background-color: #EC5863;
  color: #fff;
  padding: 10px;
  width: 144px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
}

.container .videoWatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .videoWatch .content {
  margin-left: 12px;
}

.container .videoWatch .content p.firstP {
  color: #616161;
  margin-bottom: 5px;
}

.container .videoWatch .content p.secontP {
  color: #000;
}
/*# sourceMappingURL=main.css.map */